extends layout 
block content 
  div
    h2.title.mt-4 Join the Members Only Club.
    div.content-layout
      //- if(currentUser.membershipCode >= 0)
      //-   p current membership: #{currentUser.membershipCode}
      if(isAuthenticated)
        p.text-muted Enter the secret code below to become a member.
        form(method="POST")
          div.input-group.mb-3
            span.input-group-text Code: 
            input.form-control(type="text" name="code" required)
          div.input-group.mb-3
            button.btn.btn-primary.mx-auto(type="submit") Join
        if(errors)
          p.text-danger.text-center=errors[0].msg
      else 
        hr
        p.text-muted.text-center You must #[a(href="/login") log in] to view this page.
