doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Members Only
    link(rel="stylesheet", href="/static/stylesheets/style.css")
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  body 
    - let isMember = false;
    - if(currentUser)
      - isMember = (currentUser.membershipCode > 0 ? true: false);
    header 
      nav.navbar.navbar-expand-lg.navbar-light.bg-dark.justify-content-between.p-4
        a.text-white.navbar-brand(href="/") #[span.text-success Members] Only Club
        div.navbar-nav.d-flex
          a.text-white.nav-item.nav-link(href="/") Home
          if(!isMember)
            a.text-white.nav-item.nav-link(href="/join") Become a member
          if(!currentUser)
            a.text-white.nav-item.nav-link(href="/login") Login
            a.text-white.nav-item.nav-link(href="/signup") Sign Up 
          else 
            a.text-white.nav-item.nav-link(href="/create") Create a Post
            a.text-white.nav-item.nav-link(href="/logout") Log out
          
    .content 
      block content
  footer.text-white.text-center.mt-4(style="background-color: #212529; padding: 1.5rem") Created by Jon Monarrez &copy; 2024