extends layout 
block content 
  h2 Sign Up
  form(method="POST")
    div 
      label(for="firstname") First Name: 
      input#firstname(type="text" name="firstname" required value=(user == undefined ? '':user.firstName))
    div 
      label(for="lastname") Last Name: 
      input#lastname(type="text" name="lastname" required value=(user == undefined ? '':user.lastName))
    div 
      label(for="username") Username: 
      input#username(type="text" name="username" required value=(user == undefined ? '':user.username))
    div 
      label(for="password") Password: 
      input#password(type="password" name="password" required)
    div 
      label(for="c_password") Confirm Password: 
      input#c_password(type="password" name="c_password" required)
    div 
      button(type="submit") Sign up
  if(errors)
    hr
    ul 
      p Fix the errors below to sign up:
      each error in errors 
        li #{error.msg}