extends layout 
block content 
  div.content-layout
    h2.title.mb-4 Create an account
    div.form-container
      form(method="POST") 
        div.input-group.mb-3
          span.input-group-text First Name: 
          input.form-control(type="text" name="firstname" required value=(user == undefined ? '':user.firstName))
        div.input-group.mb-3
          span.input-group-text Last Name: 
          input.form-control(type="text" name="lastname" required value=(user == undefined ? '':user.lastName))
        div.input-group.mb-3
          span.input-group-text Username: 
          input.form-control(type="text" name="username" required value=(user == undefined ? '':user.username))
        div.input-group.mb-3
          span.input-group-text Password: 
          input.form-control(type="password" name="password" required)
        div.input-group.mb-3
          span.input-group-text Confirm Password: 
          input.form-control(type="password" name="c_password" required)
        div.input-group.mb-3
          button.btn.btn-success.mx-auto(type="submit") Sign Up
    if(errors)
      hr
      ul 
        p.text-muted Fix the errors below to sign up:
        each error in errors 
          li.text-danger #{error.msg}